/* ABOUT TITLE SECTION */

.about-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  margin: 0 auto 80px auto;
}

.about-profile-img {
  height: 120px;
  margin-bottom: 24px
}

.about-title-container h3 {
  margin-bottom: 8px;
}

.about-title-container h5 {
  margin-bottom: 24px;
}

.social-about {
  margin-bottom: 32px;
}

.download {
  width: 70%;
  margin: 0;
}

/* DESCRIPTION */

.description-containter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;
  margin: 0 auto 120px auto;
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid var(--neutral-300);
    margin: 0 auto 24px auto;
}

.chapter {
  width: 100%;
}

.description-containter .chapter:not(:last-child) {
  margin-bottom: 64px;
}

.chapter h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.bio p:not(:last-child) {
  margin-bottom: 12px;
}

.chapter h5 {
  font-size: 18px;
  font-weight: 600;
}

/* SERVICES */

.service {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 16px 16px 0;
  background: white;
  border-radius: 8px;
}

.service:not(:last-child) {
  margin-bottom: 16px;
}

.service img {
  width: 40px;
  margin-right: 16px;
}

.services {
  position: relative;
}

.ellipse-services {
  background: var(--primary-200);
  filter: blur(80px);
  height: 480px;
  width: 480px;
  border-radius: 480px;
  position: absolute;
  top: -40px;
  left: 140px;
  z-index: -1;
}

/* SOFTWARE */

.software-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  flex-wrap: wrap;
}

.software-icons img {
  height: 40px;
}

.software-icons img:not(:last-child) {
  margin-right: 24px;
}

/* HOBBIES */

.hobbies-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.hobbies-icons img {
  height: 40px;
}

.travel-illustration {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 40px;
}

.travel-illustration img {
  height: 286px;
}