footer {
  display: block;
  padding: 0 16px;
  margin-bottom: 40px;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.social a:not(:first-child) {
  margin-left: 24px;
}

.social img {
  display: block;
  height: 24px;
}

.copyright p {
  font-size: 10px;
  text-align: center;
}

/* BREAKPOINTS */

@media only screen and (min-width: 768px) {

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
  }

  .social {
    order: 1;
    margin-bottom: 0;
    justify-content: flex-end;
  }

  .copyright p {
    font-size: 12px;
  }
  
}

@media only screen and (min-width: 992px) {

  footer {
    padding: 0 80px;
  }

  .social a img {
    margin-left: 16px;
  }

}