@import url("_body.css");
@import url("_header.css");
@import url("_footer.css");
@import url("_buttons.css");
@import url("_contact.css");
@import url("_homepage.css");
@import url("_about.css");

:root {

  /* COLOR PALETTE */
  
  --primary-100: #FDFAF6;
  --primary-200: #FAF1E5;
  --primary-300: #F7E7D4;
  --primary-400: #F4DEC3;
  --primary-500: #F1D4B2;
  --primary-600: #EDCAA0;

  --neutral-100: #F9FAFB;
  --neutral-200: #EDEFF2;
  --neutral-300: #D6DAE1;
  --neutral-400: #CACFD8;
  --neutral-500: #98A2B3;
  --neutral-600: #616E84;
  --neutral-700: #4A5364;
  --neutral-800: #303641;
  --neutral-900: #1E2229;
}