* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  padding-top: 136px;
  font-family: 'Inter', sans-serif;
  color: #1E2229;
  background-color: white;
  position: relative;
}

/* TYPESCALE */

h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.8px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.8px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #EDEFF2;
  box-shadow: inset 0 0 5px #98A2B3;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #F1D4B2;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #EDCAA0;
}

/* HEADER */

nav {
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 100;
}

nav img {
  height: 56px;
  width: 56px;
}

nav ul {
  display: flex;
  margin-left: auto;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #1E2229;
  padding-left: 32px;
  
}

a:hover {
  color: #1E2229;
  text-decoration: underline;
}

/* BREAKPOINTS */

@media only screen and (min-width: 768px) {
  
  body {
    padding-top: 160px;
  }

  /* HEADER */

  nav {
    padding: 16px 32px;
  }

}

@media only screen and (min-width: 992px) {
  
  body {
    padding-top: 200px;
  }

  /* HEADER */

  nav {
    padding: 16px 80px;
  }
}