/* HEADER */

nav {
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 100;
}

nav img {
  height: 56px;
  width: 56px;
}

nav ul {
  display: flex;
  margin-left: auto;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #1E2229;
  padding-left: 32px;
  
}

a:hover {
  color: #1E2229;
  text-decoration: underline;
}

/* HOMEPAGE MAIN SECTION */

.homepage-title-containter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.homepage-title-copy {
  display: flex;
  flex-direction: column;
  max-width: 468px;
}

.homepage-title-copy h1 {
  margin-bottom: 24px;
  text-align: center;
}

.homepage-title-copy p {
  margin-bottom: 40px;
  line-height: 1.6;
  text-align: center;
}

.homepage-illustration {
  display: flex;
  justify-content: center;
  max-width: 468px;
  position: relative;
}

.illustration {
  width: 60%;
  height: 100%;
}

.ellipse {
  background: #FAF1E5;
  filter: blur(80px);
  height: 480px;
  width: 480px;
  border-radius: 480px;
  position: absolute;
  top: -160px;
  left: 60px;
  z-index: -1;
}

/* PROJECTS */

.projects-container {
  display: block;
  padding: 0 16px;
  margin-bottom: 160px;
}

.project {
  display: flex;
  flex-direction: column;
  max-width: 468px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}

.img-container {
  aspect-ratio: 16/9;
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
  cursor: pointer;
}

.img-container img {
  width: 100%;
  transition: transform .8s ease;
}

.img-container:hover img {
  transform: scale(1.2);
  opacity: 0.8;
}

.project-description h3 {
  margin-bottom: 8px;
}

.project-description p {
  margin-bottom: 12px;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.chips p {
  font-size: 12px;
  line-height: 0.75;
  color: #333333;
  padding: 8px 10px;
  border-radius: 40px;
  background: #F1F6FF;
  margin-right: 6px;
  margin-bottom: 0;
}

/* CONTACT */

.contact-background {
  display: block;
  padding: 48px 16px;
  margin-bottom: 160px;
  background-color: #FDFAF6;
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 358px;
}

.contact-container h1,
.contact-container p {
  text-align: center;
}
.contact-container h1 {
  margin-bottom: 24px;
  font-weight: 600;
}

.contact-container p {
  margin-bottom: 48px;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  border: none;
  border-bottom: 2px solid #F1D4B2;
  background: none;
  color: #1E2229;
}

input {
  margin-bottom: 16px;
  min-height: 32px;
}

textarea {
  min-height: 64px;
  margin-bottom: 24px;
  color: #4A5364;
}

input, textarea:focus {
  outline-width: 0;
  border-bottom: 2px solid #F1D4B2;
}

::placeholder {
  color: #4A5364;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.primary-btn,
.secondary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  border-radius: 8px;
  cursor: pointer;
}

.primary-btn {
  background: #F1D4B2;
  font-weight: 600;
}

.primary-btn:hover {
  background: #EDCAA0;
}

.secondary-btn {
  background: none;
  font-weight: 500;
  border: 2px solid #F1D4B2;
}

.secondary-btn:hover {
  background: #F4DEC3;
  border: none;
}

/* FOOTER */

footer {
  display: block;
  padding: 0 16px;
  margin-bottom: 40px;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.social img {
  height: 24px;
  padding: 0 12px;
}

.copyright p {
  font-size: 10px;
  text-align: center;
  margin-bottom: 0;
}

/* BREAKPOINTS */

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 992px) {

  /* HEADER */

  nav {
    padding: 16px 80px;
  }

  /* HOMEPAGE MAIN SECTION */

  .homepage-title-containter {
    flex-direction: row;
    justify-content: center;
    padding: 0 80px;
    max-width: 1140px;
    margin-bottom: 220px;
  }

  .homepage-title-copy h1,
  .homepage-title-copy p {
    text-align: left;
  }

  .homepage-title-copy p {
    margin-bottom: 0;
  }

  .homepage-illustration {
    justify-content: flex-end;
  }

  .illustration {
    width: 65%;
  }

  .ellipse {
    filter: blur(100px);
    height: 800px;
    width: 800px;
    border-radius: 800px;
    top: -80%;
    left: 30%;
  }

  /* PROJECTS */

  .projects-container {
    display: block;
    padding: 0 80px;
    margin-bottom: 220px;
  }

  .project {
    max-width: 752px;
    margin-bottom: 80px;
  }

  .img-container {
    margin-bottom: 24px;
  }

  .project-description h3 {
    margin-bottom: 12px;
  }

  .project-description p {
    margin-bottom: 16px;
  }

  .chips p {
    font-size: 14px;
  }

  /* CONTACT */

  .contact-background {
    padding: 140px 80px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 8px;
  }

  .contact-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 946px;
  }

  .contact-copy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 412px;
    margin-right: 40px;
  }

  .contact-copy h1,
  .contact-copy p {
    text-align: left;
  }

  .contact-copy p {
    margin-bottom: 0;
  }

  form {
    width: 364px;
    min-width: 320px;
  }

  input {
    margin-bottom: 24px;
  }

  textarea {
    margin-bottom: 32px;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .primary-btn {
    padding: 0 48px;
    margin-left: 32px;
    margin-bottom: 0;
  }

  .secondary-btn {
    border: none;
    order: -1;
  }

  .secondary-btn:hover:hover {
    text-decoration: underline;
    background: none;
  }
  
  /* FOOTER */

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px;
  }

  .social {
    margin-bottom: 0;
    order: 1;
  }

  .social img {
    padding-left: 24px;
    padding-right: 0;
  }

  .copyright p {
    font-size: 12px;
  }
}