.contact-background {
  display: block;
  padding: 48px 16px;
  margin-bottom: 160px;
  background-color: var(--primary-100);
  scroll-margin-top: 120px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 358px;
}

.contact-copy :is(h2,p) {
  text-align: center;
}

.contact-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.contact-title h2 {
  font-size: 32px;
  font-weight: 600;
  padding-right: 16px;
}

.contact-title img {
  height: 32px;
}

.contact-copy p {
  margin-bottom: 48px;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  border: 2px solid var(--primary-500);
  border-radius: 4px;
  background: none;
  color: var(--neutral-900);
  padding: 6px 8px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

input {
  margin-bottom: 16px;
  min-height: 32px;
}

textarea {
  min-height: 64px;
  margin-bottom: 24px;
  color: var(--neutral-900);
  resize: vertical;
  overflow: auto;
}

::placeholder {
  color: var(--neutral-700);
}

input:focus,
textarea:focus {
  outline: none !important;
  border: 2px solid var(--primary-700);
  box-shadow: 0 0 12px var(--primary-300);
  background-color: var(--primary-50);
}

.btn-container {
  display: flex;
  flex-direction: column;
}

/* BREAKPOINTS */

@media only screen and (min-width: 768px) {

  .contact-background {
    padding: 80px 32px;
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 8px;
  }

  .contact-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 946px;
  }

  .contact-copy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 32px;
    max-width: 412px;
  }

  .contact-copy :is(.contact-title,p) {
    text-align: left;
  }

  .contact-title {
    justify-content: flex-start;
  }

  .contact-copy p {
    margin-bottom: 0;
  }

  form {
    width: 100%;
    min-width: 320px;
    max-width: 364px;
  }

  form > input {
    margin-bottom: 24px;
  }

  input, textarea {
    border: none;
    border-bottom: 2px solid var(--primary-500);
    border-radius: 0;
    padding-left: 0;
  }

  input:focus,
  textarea:focus {
    outline: none !important;
    border: none;
    border-bottom: 2px solid var(--primary-700);
    padding-left: 8px;
  }

  .btn-container {
    flex-direction: row;
    justify-content: flex-end;
  }

  .btn-container input {
    margin-bottom: 0;
  }

  textarea {
    margin-bottom: 32px;
  }

  .primary-btn {
    margin-left: 32px;
  }

  .secondary-btn {
    border: none;
    order: -1;
  }

  .secondary-btn:hover {
    background: none;
  }

}

@media only screen and (min-width: 992px) {

  .contact-background {
    padding: 140px 80px;
    margin: 0 80px 200px 80px;
  }

  .contact-container {
    max-width: 946px;
  }

  .contact-copy {
    max-width: 412px;
    margin-right: 40px;
  }

  .contact-copy h2 {
    font-size: 40px;
  }

}