/* ABOUT HERO */

.hero-div-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  margin: 0 auto 80px auto;
}

.hero-left-about {
  position: relative;
}

.profile-img-about {
  height: 160px;
  margin-bottom: 24px;
}

.hero-div-about :is(h1,p) {
  text-align: center;
}

.hero-div-about h1 {
  font-weight: 600;
  margin-bottom: 8px;
}

.hero-div-about p {
  font-size: 20px;
  margin-bottom: 28px;
}

.scribbled-underline-about {
  position: absolute;
  z-index: -1;
  left: 0; 
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 140px;
  top: 69px;
}

.social-about {
  justify-content: center;
  margin-bottom: 32px;
}

.social-about img {
  margin: 0 12px 0 12px;
}

.btn-about {
  width: 248px;
  margin: 0 auto 0 auto;
}

/* BREAKPOINTS */

@media screen and (min-width: 768px) {

  .hero-div-about {
    padding: 0 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
  }

  .profile-img-about {
    height: 260px;
    margin: 0 56px 0 0;
  }

  .hero-left-about {
    justify-content: flex-start;
  }

  .hero-div-about :is(h1,p) {
    text-align: left;
  }

  .hero-div-about h1 {
    margin-bottom: 12px;
  }

  .scribbled-underline-about {
    margin-left: 0;
    width: 142px;
    top: 73px;
    left: 0px;
  }

  .social-about {
    justify-content: flex-start;
  }

  .social-about img {
    margin: 0 24px 0 0;
  }

  .btn-about {
    margin-left: 0;
    width: 254px;
  }

}

@media screen and (min-width: 1025px) {

  .hero-div-about {
    padding: 0 88px;
    margin-bottom: 160px;
  }

  .profile-img-about {
    margin: 0 64px 0 0;
  }

}