/* HOMEPAGE TITLE SECTION */

.homepage-title-containter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  margin: 0 auto 160px auto;
}

.homepage-title-copy {
  display: flex;
  flex-direction: column;
  max-width: 468px;
  position: relative;
}

.homepage-title-copy h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
}

.scribbled-circle {
  position: absolute;
  z-index: -1;
  width: 140px;
  top: -29px;
  left: 55%;
}

.homepage-title-copy p {
  margin-bottom: 48px;
  line-height: 1.6;
  text-align: center;
}

.scribbled-underline {
  position: absolute;
  z-index: -1;
  width: 140px;
  top: 81px;
  left: 10%;
}

.homepage-illustration {
  display: flex;
  justify-content: center;
  position: relative;
}

.illustration {
  height: 286px;
}

.ellipse-homepage {
  background: var(--primary-200);
  filter: blur(80px);
  height: 480px;
  width: 480px;
  border-radius: 480px;
  position: absolute;
  top: -160px;
  left: 60px;
  z-index: -1;
}

/* BREAKPOINTS */

@media screen and (min-width: 768px) {
  
  /* HOMEPAGE TITLE SECTION */

  .homepage-title-containter {
    flex-direction: row;
    justify-content: center;
    padding: 0 32px;
    max-width: none;
    margin-bottom: 200px;
  } 

  .homepage-title-copy {
    min-width: 320px;
    margin-right: 40px;
  }

  .homepage-title-copy :is(h1,p) {
    text-align: left;
  }

  .scribbled-circle {
    left: 160px;
  }

  .homepage-title-copy p {
    margin-bottom: 0;
  }

  .scribbled-underline {
    left: 8%;
  }

  .homepage-illustration {
    justify-content: flex-end;
    flex-shrink: 0;
    margin-left: 40px;
  }

  .illustration {
    height: 280px;
  }

  .ellipse-homepage {
    height: 640px;
    width: 640px;
    border-radius: 640px;
    top: -80%;
    left: 30%;
  }

}

@media screen and (min-width: 1025px) {

  /* HOMEPAGE TITLE SECTION */

  .homepage-title-containter {
    padding: 0 80px;
    max-width: 1280px;
    margin-bottom: 220px;
  }

  .homepage-title-copy {
    min-width: 430px;
    margin-right: 54px;
  }

  .homepage-title-copy h1 {
    font-size: 40px;
  }

  .scribbled-circle {
    width: 175px;
    left: 202px;
    top: -36px;
  }

  .scribbled-underline {
    top: 91px;
    left: 7%;
  }

  .homepage-illustration {
    margin-left: 54px;
  }

  .illustration {
    height: 330px;
  }

  .ellipse-homepage {
    height: 800px;
    width: 800px;
    border-radius: 800px;
  }

}