h1, h2, h3 {
  letter-spacing: -0.8px;
  font-weight: 600;
}

h1, h2 {
  font-family: 'anisette-std', sans-serif;
}

h3 {
  font-family: 'inter', sans-serif;
}

p {
  font-family: 'inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

strong {
  font-weight: 600;
}